.react-flow {
    background: #e3dfdb;
}

.react-flow__node-alien {
    font-family: 'space-mono';
    font-size: 8px;
    background: #8d5b2f;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    text-align: center;
    padding-top: 1.5rem;
    /* opacity: 70%; */
}

.react-flow__node-position {
    font-family: 'space-mono';
    font-size: 6px;
    background: #7cad3e;
    /* border-radius: 50%; */
    width: 40px; /* 3rem x font-size */
    height: 40px;
    text-align: center;
    padding-top: 5px;
}

.react-flow__node-currentPos {
    font-family: 'space-mono';
    font-size: 6px;
    background: #236477;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 5px;
}

.react-flow__node-path {
    font-family: 'space-mono';
    font-size: 2px;
    color: #e3dfdb;
    background: #344919;
    /* border-radius: 50%; */
    width: 5px; /* 3 x font-size */
    height: 5px;
    text-align: center;
}

