.react-flow {
    background: #e3dfdb;
}

/* ALIENS by COLOUR */
.react-flow__node-alien {
    font-family: 'space-mono';
    font-size: 4.3px;
    /* background: #8d5b2f; */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    padding-top: 4px;
    justify-items: center;
}

.react-flow__node-obstacle {
    font-family: 'space-mono';
    font-size: 8px;
    background: #353535;
    color: #e3dfdb;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    padding-top: 20px;
    justify-items: center;
}

.react-flow__node-position {
    font-family: 'space-mono';
    font-size: 6px;
    background: #7cad3e;
    /* left: -25px;
    top: -25px; */
    width: 48px; /* 3rem x font-size */
    height: 45px;
    text-align: center;
    padding-top: 5px;
    justify-items: center;
}

.react-flow__node-currentPos {
    font-family: 'space-mono';
    font-size: 6px;
    background: #236477;
    /* left: -25px;
    top: -25px; */
    width: 48px;
    height: 45px;
    text-align: center;
    padding-top: 5px;
    justify-items: center;
}

.react-flow__node-path {
    font-family: 'space-mono';
    font-size: 2px;
    color: #bfbcb9;
    background: #344919;
    /* border-radius: 50%; */
    left: 22.5px;
    top: 22.5px;
    width: 7px; /* 3 x font-size */
    height: 7px;
    text-align: center;
}

.react-flow__node-goto {
    font-family: 'space-mono';
    font-size: 6px;
    background: #3ead68;
    /* left: -25px;
    top: -25px; */
    width: 48px; /* 3rem x font-size */
    height: 45px;
    text-align: center;
    padding-top: 5px;
    justify-items: center;
}

.react-flow__node-manual_goto {
    font-family: 'space-mono';
    font-size: 6px;
    background: #3ead68;
    /* left: -25px;
    top: -25px; */
    width: 48px; /* 3rem x font-size */
    height: 45px;
    text-align: center;
    padding-top: 5px;
    justify-items: center;
}

