.react-flow {
    background: #e3dfdb;
}

.react-flow__node-alien {
    font-family: 'space-mono';
    font-size: 8px;
    background: #8d5b2f;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    text-align: center;
    padding-top: 1.5rem;
    /* opacity: 70%; */
}

.react-flow__node-position {
    font-family: 'space-mono';
    font-size: 8px;
    background: #7cad3e;
    /* border-radius: 50%; */
    width: 3rem; /* 3 x font-size */
    height: 3rem;
    text-align: center;
    padding-top: 0.5rem;
}

.react-flow__node-currentPos {
    font-family: 'space-mono';
    font-size: 8px;
    background: #236477;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding-top: 0.5rem;
}

